.statusbar {
  .statusbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px 11px 21px;
    font-family: "Abhaya Libre", serif;
    .statusbar-left {
      p {
        text-align: center;
        width: 54px;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: -0.2800000011920929px;
      }
    }
    .statusbar-right {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
