.homepage {
  // position: relative;
  .homepage-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    .homepage-icon {
      display: block;
      border-radius: 10px;
      width: 135px;
      height: 5px;
      margin: 20px 0 8px 0;
    }
  }
}
